#held-item {
   width: var(--item-slot-size);
   height: var(--item-slot-size);
   position: absolute;
   pointer-events: none;
   z-index: 3;
   user-select: none;
   transform: scale(var(--zoom));
}
#held-item img {
   width: var(--item-image-size);
   /* @Copynpaste from .item-slot img */
   margin: calc(var(--item-slot-size) * 0.125) calc(var(--item-slot-size) * 0.125);
   image-rendering: pixelated;
   z-index: 1;
}