#chat {
   --message-height: 1.3rem;
   min-width: 15rem;
   max-width: 25rem;
   position: absolute;
   left: calc(1rem * var(--zoom));
   bottom: calc(9rem * var(--zoom));
   z-index: 1;
   transform: scale(var(--zoom));
   transform-origin: 0% 100%;
   display: flex;
   flex-direction: column-reverse;
}
#chat .message-history {
   animation: Disappear 5s forwards;
}
#chat input:focus + .message-history {
   animation: none;
}
#chat :is(.msg, input) {
   width: 100%;
   color: #fff;
   text-shadow: 2px 2px #000;
   font-family: "Noto Sans";
   font-size: 1rem;
   min-height: var(--message-height);
   padding: 0 5px;
   margin: 5px;
   overflow: hidden;
   word-wrap: break-word;
}
#chat .msg {
   background-color: rgba(0, 0, 0, 0.6);
}
#chat input {
   border: none;
   outline: none;
   /* background-color: rgba(0, 0, 0, 0.4); */
   opacity: 0;
}
#chat input:focus {
   background-color: rgba(0, 0, 0, 0.6);
   opacity: 1;
}

@keyframes Disappear {
   0%, 80% {
      opacity: 1;
      visibility: visible;
   }
   100% {
      opacity: 0;
      visibility: hidden;
   }
}