@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
   margin: 0;
}

:root {
   --slot-size: 4rem;
   --slot-margin: 3px;
}

.hidden {
   display: none !important;
}

#canvas {
   position: absolute;
   top: 0;
   left: 0;
   image-rendering: -moz-crisp-edges;
   image-rendering: -webkit-crisp-edges;
   image-rendering: pixelated;
   image-rendering: crisp-edges;
}

#minimap {
   backdrop-filter: blur(10px);
   border: 3px solid #000;
   border-radius: 5px;
   position: absolute;
   z-index: 1;
}
#minimap canvas {
   position: absolute;
   top: 0;
   left: 0;
}
#minimap .background {
   z-index: 1;
}
#minimap .entities {
   z-index: 2;
}

.inventory {
   display: flex;
   flex-wrap: wrap;
}
.item-slot {
   --border-size: 3px;
   width: calc(var(--slot-size) - var(--border-size) * 2);
   height: calc(var(--slot-size) - var(--border-size) * 2);
   background-color: rgba(179, 110, 0, 0.5);
   border: var(--border-size) solid rgb(123, 66, 0);
   margin: var(--slot-margin);
   position: relative;
   cursor: pointer;
}
.item-slot .preview {
   --size-multiplier: 0.8;
   width: calc(var(--slot-size) * var(--size-multiplier));
   height: calc(var(--slot-size) * var(--size-multiplier));
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   user-select: none;
   /* image-rendering: pixelated; */
}
.item-slot .amount {
   color: #fff;
   font-weight: bold;
   font-size: 1.2rem;
   --margin: 0.5rem;
   position: absolute;
   right: var(--margin);
   bottom: var(--margin);
   user-select: none;
}
.item-slot .name {
   color: #fff;
   font-family: "Roboto";
   font-weight: 700;
   background-color: rgba(0, 0, 0, 0.5);
   padding: 0 5px;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -100%);
   pointer-events: none;
   user-select: none;
   opacity: 0;
   white-space: nowrap;
}
.item-slot:hover .name {
   opacity: 1;
}

#health-bar {
   --height: 20px;
   width: calc(var(--max-health) * 10px);
   height: var(--height);
   background-color: rgba(0, 0, 0, 0.5);
   border: 4px solid #000;
   position: absolute;
   bottom: 6rem;
   left: 50%;
   transform: translateX(-50%);
}
#health-bar .health {
   width: calc((var(--max-health) * 10px) * var(--health) / var(--max-health));
   height: var(--height);
   background-color: red;
}

#mask {
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2;
}

#unit-selection-mode-border {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   box-shadow: 0 0 0 4px #ffff00 inset;
   pointer-events: none;
}

#entity-health {
   color: #fff;
   font-family: "Gaegu";
   font-weight: 700;
   font-size: 1.2rem;
   text-shadow: 0 2px 2px #000, 2px 0 2px #000, 2px 2px 2px #000, -2px -2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
   position: absolute;
   pointer-events: none;
   transform: translateY(-100%);
}