@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
   margin: 0;
}

:root {
   --slot-size: 4rem;
   --slot-margin: 3px;
   --item-size-multiplier: 0.8;
}

.hidden {
   display: none !important;
}

#canvas {
   position: absolute;
   top: 0;
   left: 0;
   image-rendering: -moz-crisp-edges;
   image-rendering: -webkit-crisp-edges;
   image-rendering: pixelated;
   image-rendering: crisp-edges;
}

#minimap {
   backdrop-filter: blur(10px);
   border: 3px solid #000;
   border-radius: 5px;
   position: absolute;
   z-index: 1;
}
#minimap canvas {
   position: absolute;
   top: 0;
   left: 0;
}
#minimap .background {
   z-index: 1;
}
#minimap .entities {
   z-index: 2;
}

#vignette {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   box-shadow: 0 0 40px 20px rgba(0, 0, 0, 0.3) inset;
   pointer-events: none;
}

#health-bar {
   --height: 20px;
   width: calc(var(--max-health) * 10px);
   height: var(--height);
   background-color: rgba(0, 0, 0, 0.5);
   border: 4px solid #000;
   position: absolute;
   bottom: 6.5rem;
   left: 50%;
   transform: translateX(-50%);
}
#health-bar .health {
   width: calc((var(--max-health) * 10px) * var(--health) / var(--max-health));
   height: var(--height);
   background-color: red;
}

#mask {
   background-color: rgba(0, 0, 0, 0.3);
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 2;
}

#unit-selection-mode-border {
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   box-shadow: 0 0 0 4px #ffff00 inset;
   pointer-events: none;
}

#hover-text {
   color: #fff;
   font-family: "Gaegu";
   font-weight: 700;
   font-size: 1.2rem;
   text-shadow: 0 2px 2px #000, 2px 0 2px #000, 2px 2px 2px #000, -2px -2px 2px #000, -2px 0 2px #000, 0 -2px 2px #000;
   position: absolute;
   transform: translateY(-100%);
   pointer-events: none;
}

#held-item {
   --size: 64px;
   width: var(--size);
   height: var(--size);
   position: absolute;
   pointer-events: none;
   z-index: 2;
}
#held-item .item-image {
   width: calc(var(--size) * var(--item-size-multiplier));
   height: calc(var(--size) * var(--item-size-multiplier));
   position: absolute;
   top: 0;
   left: 0;
}